body{
    padding:0 0 80px 0 ;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    color: var(--color-secundario);
    box-shadow: 0 1px 5px #122;
    z-index: 1000000;
}

.logo{
    font-weight: 500;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-link{
    margin: 0 1rem;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    font-size: .950rem;
    text-decoration: none;
    color: var(--color-primario);
    font-weight: 500;
    cursor: pointer;
}

.nav-link:hover{
    color:var(--color-secundario) ;
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #f0f0f0;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
    display: none;
}

@media only screen and (max-width: 768px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
        display: initial;
    }
    
    nav .nav-link{
        width: 100%;
        margin: 0rem 0rem;
        padding: 2rem 0;
    }

    .nav-link:hover{
        background-color: #511334;
    }
    
    header nav{
        position: fixed;
        top:0 ;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #3c0120;
        gap: 1.5rem;
        z-index: 100000;
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav{
        transform: none;
    }

    nav .nav-close-btn{
        font-size: 2.3rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}

